body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f4f4f4 !important;
    position: initial !important;
}

body > div {
    margin: 15px auto !important;
}

.navbar{
    overflow: visible !important;
    top: 0 !important;
    z-index: 100;
    position: sticky !important;
    width: 100% !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) !important;
}

.navbar-img {
    padding: 0 !important;
    margin: 0 !important;
    height: 100px !important;
    width: 100px !important;
}

.navbar-brand {
    color: #eee !important;
    font-weight: bold !important;
    font-size: 28px !important;
}

.navbar-brand:hover {
    opacity: 80% !important;

}

#inputField {
    width: 100% !important;
}

#inputField:hover {
    cursor: pointer;
}

#infos {
    z-index: 50;
}

.userImage {
    width: 100% !important;
}

.panel {
    width: 100% !important;
    border: 2px solid orangered !important;
    border-radius: 4px;
    padding: 10px 10px;
}

.imgAndButton {
    margin: 25px 0 !important;
    padding-left: 1.5vw !important;
}

.imgAndButton > * {
    margin: 4px 2px;
}

.panelTop > * {
    margin: 0 4px;
}

.myBadge {
    padding: 8px !important;
    margin: 2px !important;
    font-size: 12px !important;

    &:hover {
        cursor: pointer !important;
        box-shadow: 2px -3px -3px rgba(0, 0, 0, 0.4) !important;
    }
}

#latestRepos {
    margin: 10px 0 !important;
    padding: 5px 5px  !important;
    
}


.well {
    border: 2px solid orangered !important;
    border-radius: 3px !important;

    &:hover {
        transition: .2s ease-in !important;
        box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.2),
                    -5px -5px 3px rgba(129, 125, 125, 0.342),
                     0 13px 13px rgba(0, 0, 0, 0.2);
    }
}


.footer {
    margin: 10px 0 !important;
    padding: 0 40% !important;
    text-align: center;
    position: fixed !important;
    bottom: 0 !important;

    a {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
        outline: none !important;
        color: rgba(255, 68, 0, 0.575) !important;
        font-weight: bold !important;
    }

    a:active {
        text-decoration: none !important;
    }
}
